# dependencies
/node_modules

# misc
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.next
.vscode
.serverless_nextjs
.serverless
coverage
junit.xml
npm-debug.log*
package-lock.json
sls-next-build
storybook-static
yarn-debug.log*
yarn-error.log*
/config/local.env
/.lighthouseci
.serverless_nextjs